body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #151557, #000013);
    box-sizing: border-box;
    justify-content: flex-start;
}

h1,
p {
    color: #D6D6F2;
    text-align: left;
    font-family: "Outfit", sans-serif;
}

h1 {
    line-height: 120%;
    font-weight: bold;
    font-size: 40px;
}

p {
    line-height: 140%;
    font-weight: light;
    font-size: 20px;
}



button {
    color: #E2E2F5;
    background-color: #151557;
    width: 150px;
    height: 44px;
    border-radius: 30px;
}

h2 {
    background-image: linear-gradient(to left, #82337E, #023047);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 260px;
    transition: background-image 0.5s ease;
    margin: 0;
}


#overview {
    width: 380px;
    height: 286px;
    position: absolute;
    top: 20%;
    left: 10%;
    justify-content: center;
}

#buttons {
    width: 272px;
    height: 44px;
    display: flex;
    gap: 16px;
    align-items: center;
}

#art {

    height: auto;
    align-items: center;
    background: url('PIXEL.png') no-repeat center center;
    background-size: cover;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 65%;
    justify-content: center;
}